@page "/addCompetitions"
@using EnumsAndConstants

            <div class="row">
                <div class="col">
                    <input class=" form-control" placeholder="Conpetition Name" @bind="newCompetitionName" />
                    <input class=" form-control" type="date" placeholder="Competition Start Data" @bind="newCompetitionStartData" />
                    <input class=" form-control" type="date" placeholder="Competition End Data" @bind="newCompetitionEndData" />
                    <input class=" form-control" type="checkbox" @bind="newRating" />

                    <select class=" form-control" name="Country" @bind="newCountry">
                        <option value="BLR">
                            @ListOfCountries.BLR
                        </option>
                        <option value="LTV">
                            @ListOfCountries.LTV
                        </option>
                        <option value="RUS">
                            @ListOfCountries.RUS
                        </option>
                    </select>

                    <select class=" form-control" name="Type" @bind="newType">
                        <option value="OpenPersonal">
                            @CompetitionType.OpenPersonal
                        </option>
                        <option value="OpenPersonal">
                            @CompetitionType.OpenTeam
                        </option>
                        <option value="OpenTeamPersonal">
                            @CompetitionType.OpenTeamPersonal
                        </option>
                        <option value="ClosePersonal">
                            @CompetitionType.ClosePersonal
                        </option>
                        <option value="CloseTeam">
                            @CompetitionType.CloseTeam
                        </option>
                        <option value="CloseTeamPersonal">
                            @CompetitionType.CloseTeamPersonal
                        </option>

                    </select>

                    <div class=" col">
                        <button class=" btn btn-success" @onclick="AddCompetition">Add Competition</button>
                    </div>
                </div>
            </div>

<div class=" container-fluid">
    <div class=" row">
        <div class="col">
            <h2>List of Competitions</h2>
            <table class=" table table-striped">
                <thead class=" table-dark">
                    <tr>
                        <th scope="col">Conpetition Name </th>
                        <th scope="col">Competition Start Data </th>
                        <th scope="col">Competition Endt Data</th>
                        <th scope="col">Rating </th>
                        <th scope="col">Country </th>
                        <th scope="col"> Competition Type</th>

                    </tr>
                </thead>
                @foreach (var item in competition)
                {
                    <tbody>
                        <tr>
                            <td>
                                @item.CompetitionName
                            </td>
                            <td>
                                @item.CompetitionStartData
                            </td>
                            <td>
                                @item.CompetitionEndtData
                            </td>
                            <td>
                                @item.Rating
                            </td>
                            <td>
                                @item.Country
                            </td>
                            <td>
                                @item.Type
                            </td>
                            <td>
                                <button class=" btn-dark">Edite</button>
                            </td>
                            <td>
                                <button class=" btn-danger" @onclick="(()=>DeleteCompetition(item))">Delete</button>
                            </td>

                        </tr>
                    </tbody>
                }

            </table>
        </div>
    </div>
</div>

@code {
    private IList<Competition> competition = new List<Competition>();

    private string newCompetitionName;
    private DateTime newCompetitionStartData;
    private DateTime newCompetitionEndData;
    private bool newRating;
    private ListOfCountries newCountry;
    private CompetitionType newType;

    private void AddCompetition()
    {

        competition.Add(new Competition
        {
            CompetitionName = newCompetitionName,
            CompetitionStartData = newCompetitionStartData,
            CompetitionEndtData = newCompetitionEndData,
            Rating = newRating,
            Country = newCountry,
            Type = newType,
            IsActive = true
        });

    }

    private void DeleteCompetition(Competition deletedCompetition)
    {
        competition.Remove(deletedCompetition);
    }
}
