@inject CompetitionResults.Data.Repository.CompetitionerRepository competitionerRepository;
@page "/addCompetitioners"
@using EnumsAndConstants

<div class="row">
    <div class="col">

        <div class="col">
            Number
        </div>

        <input class=" form-control" placeholder="Name" @bind="competitionerModel.Number" />

        <div class="col">
            Class
        </div>

        <select class=" form-control" name="Class" @bind="competitionerModel.BoatClass">
            @foreach (var boatClass in BoatClassesForSelect)
            {
                <option value="@boatClass">
                    @boatClass;
                </option>
            }
        </select>

        <div class="col">
            Sportsman Id
        </div>

        <select class=" form-control" name="Sportsman" @bind="competitionerModel.SportsmanId">

            @foreach (var sportsman in SportsmansForSelect)
            {
                <option value="@sportsman.Id">
                    @sportsman.Id
                </option>
            }
        </select>

        <div class="col">
            Competition Id
        </div>

        <select class=" form-control" name="CompetitionId" @bind="competitionerModel.CompetitionId">

            @foreach (var item in CompetitionsForSelect)
            {
                <option value="@item.Id">
                    @item.Id
                </option>
            }
        </select>

        <div class=" col">
            <button class=" btn btn-success" @onclick="SaveCompetitioner">Save</button>
        </div>
    </div>
</div>

<div class=" container-fluid">
    <div class=" row">
        <div class="col">
            <h2>List of spostsmans</h2>
            <table class=" table table-striped">
                <thead class=" table-dark">
                    <tr>
                        <th scope="col">Number </th>
                        <th scope="col">BoatClass </th>
                        <th scope="col">Status </th>
                        <th scope="col">SportsmanId </th>
                        <th scope="col">CompetitionId </th>
                    </tr>
                </thead>
                @foreach (var item in competitioner)
                {
                    <tbody>
                        <tr>
                            <td>
                                @item.Number
                            </td>
                            <td>
                                @item.BoatClass
                            </td>
                            <td>
                                @item.StatusInTrack
                            </td>
                            <td>
                                @item.SportsmanId
                            </td>
                            <td>
                                @item.CompetitionId
                            </td>
                            <td>
                                <button class=" btn-dark" @onclick="(()=>EditCompetitioner(item))">Edit</button>
                            </td>
                            <td>
                                <button class=" btn-danger" @onclick="(()=>DeleteCompetitionerAsync(item))">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                }

            </table>
        </div>
    </div>
</div>

@code {
    
}
