@page "/addCompetitioners"
@using EnumsAndConstants

<div class="row">
    <div class="col">
        <EditForm Model="competitionerModel" OnValidSubmit="SaveCompetitioner">
            <div class="form-group">
                <label> Number </label>
                <InputNumber class=" form-control" @bind-Value="competitionerModel.Number" />

                <label> CompetitionID </label>
                <InputSelect class=" form-control" name="CompetitionId" @bind-Value="competitionerModel.CompetitionId">

                    @foreach (var item in CompetitionsForSelect)
                    {
                        <option value="@item.Id">
                            @item.Id
                        </option>
                    }
                </InputSelect>

                <label> Class </label>
                <InputSelect class=" form-control" name="Sportsman" @bind-Value="competitionerModel.SportsmanId">

                    @foreach (var sportsman in SportsmansForSelect)
                    {
                        <option value="@sportsman.Id">
                            @sportsman.Id
                        </option>
                    }
                </InputSelect>

                <label> Sportsman Id </label>
                <InputSelect class=" form-control" name="Sportsman" @bind-Value="competitionerModel.SportsmanId">

                    @foreach (var sportsman in SportsmansForSelect)
                    {
                        <option value="@sportsman.Id">
                            @sportsman.Id
                        </option>
                    }
                </InputSelect>
            </div>
                <button class=" btn btn-outline-primary">Save</button>
        </EditForm>
    </div>
</div>

<div class=" container-fluid">
    <div class=" row">
        <div class="col">
            <h2>List of spostsmans</h2>
            <table class=" table table-striped">
                <thead class=" table-dark">
                    <tr>
                        <th scope="col">Number </th>
                        <th scope="col">BoatClass </th>
                        <th scope="col">Status </th>
                        <th scope="col">SportsmanId </th>
                        <th scope="col">CompetitionId </th>
                    </tr>
                </thead>
                @foreach (var item in competitioner)
                {
                    <tbody>
                        <tr>
                            <td>
                                @item.Number
                            </td>
                            <td>
                                @item.BoatClass
                            </td>
                            <td>
                                @item.StatusInTrack
                            </td>
                            <td>
                                @item.SportsmanId
                            </td>
                            <td>
                                @item.CompetitionId
                            </td>
                            <td>
                                <button class=" btn-dark" @onclick="(()=>EditCompetitioner(item))">Edit</button>
                            </td>
                            <td>
                                <button class=" btn-danger" @onclick="(()=>DeleteCompetitionerAsync(item))">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                }

            </table>
        </div>
    </div>
</div>

@code {

}
