@page "/addGates"
@using EnumsAndConstants


<div class="row">
    <div class="col">
        <div>
            Name
        </div>
        <select class="form-control" name="Gate Name" @bind="gateWithTimeModel.GateName">

            @foreach (var gate in GateNamesWithTimeForSelect)
            {
                <option value="@gate">
                    @gate
                </option>
            }
        </select>
        <div>
            TrackId
        </div>
        <select class="form-control" name="Track" @bind="gateWithTimeModel.TrackId">

            @foreach (var track in TracksForSelect)
            {
                <option value="@track.Id">
                    @track.Id
                </option>
            }
        </select>
        <div>
            Type
        </div>
        <select class="form-control" name="Type" @bind="gateWithTimeModel.Type">

            @foreach (var type in GateTypesForSelect)
            {
                <option value="@type">
                    @type
                </option>
            }
        </select>

        <div class=" col">
            <button class=" btn btn-success" @onclick="SaveGateWithTime">Save Gate With Time</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        <div>
            Number
        </div>
        <select class=" form-control" name="Gate Name" @bind="gateWithPenaltyModel.GateNumber">

            @foreach (var gate in GateNamesWithPenaltyForSelect)
            {
                <option value="@gate">
                    @gate
                </option>
            }
        </select>
        <div>
            SectorId
        </div>
        <select class=" form-control" name="Sector" @bind="gateWithPenaltyModel.SectorId">

            @foreach (var sector in SectorsForSelect)
            {
                <option value="@sector.Id">
                    @sector.Id
                </option>
            }
        </select>
        <div>
            Type
        </div>
        <select class=" form-control" name="Type" @bind="gateWithPenaltyModel.Type">

            @foreach (var type in GateTypesForSelect)
            {
                <option value="@type">
                    @type
                </option>
            }
        </select>

        <div class=" col">
            <button class=" btn btn-danger" @onclick="SaveGateWithPenalty">Save Gate With Penalty</button>
        </div>       
    </div>
</div>

<div class=" container-fluid">
    <div class=" row">
        <div class="col">
            <h2>List of Gates</h2>
            <table class=" table table-striped">
                <thead class=" table-dark">
                    <tr>
                        <th scope="col">Gate Type </th>
                        <th scope="col">Gate Name/Number </th>
                        <th scope="col">Id Track/Sector </th>
                    </tr>

                </thead>
                @foreach (var item in gateWithTime)
                {
                    <tbody>
                        <tr>
                            <td>
                                @item.Type
                            </td>
                            <td>
                                @item.GateName
                            </td>
                            <td>
                                @item.TrackId
                            </td>
                            <td>
                                <button class=" btn-dark" @onclick="(()=>EditGateWithTime(item))">Edit</button>
                            </td>
                            <td>
                                <button class=" btn-danger" @onclick="(()=>DeleteGateWithTimeAsync(item))">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                }
                @foreach (var item in gateWithPenalty)
                {
                    <tbody>
                        <tr>
                            <td>
                                @item.Type
                            </td>
                            <td>
                                @item.GateNumber
                            </td>
                            <td>
                                @item.SectorId
                            </td>
                            <td>
                                <button class=" btn-dark" @onclick="(()=>EditGateWithPenalty(item))">Edit</button>
                            </td>
                            <td>
                                <button class=" btn-danger" @onclick="(()=>DeleteGateWithPenaltyAsync(item))">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                }

            </table>
        </div>
    </div>
</div>

@code {
   
}
