
@page "/addSectors"
@using EnumsAndConstants

<div class="row">
    <div class="col">
        <div>
            Number
        </div>
        <input class=" form-control" placeholder="Number" @bind="sectorModel.Number" />
        <div>
            TrackID
        </div>
        <select class=" form-control" name="Track" @bind="sectorModel.TrackId">

            @foreach (var track in TracksForSelect)
            {
                <option value="@track.Id">
                    @track.Id
                </option>
            }
        </select>
        <div>
            IsFull
        </div>
        <input class=" form-control" type="checkbox" @bind="sectorModel.IsFull" />
        <div class=" col">
            <button class=" btn btn-success" @onclick="SaveSector">Save</button>
        </div>
    </div>
</div>

<div class=" container-fluid">
    <div class=" row">
        <div class="col">
            <h2>List of spostsmans</h2>
            <table class=" table table-striped">
                <thead class=" table-dark">
                    <tr>
                        <th scope="col">SectorNumber </th>
                        <th scope="col">TrackId </th>
                        <th scope="col">Full </th>
                    </tr>
                </thead>
                @foreach (var item in sectors)
                {
                    <tbody>
                        <tr>
                            <td>
                                @item.Number
                            </td>
                            <td>
                                @item.TrackId
                            </td>
                            <td>
                                @item.IsFull
                            </td>
                            <td>
                                <button class=" btn-dark" @onclick="(()=>EditSector(item))">Edite</button>
                            </td>
                            <td>
                                <button class=" btn-danger" @onclick="(()=>DeleteSectorAsync(item))">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                }

            </table>
        </div>
    </div>
</div>

@code {
}
