@inject CompetitionResults.Data.Repository.SportsmanRepository sportsmanRepository;
@page "/addSportsmans"
@using EnumsAndConstants

<div class="row">
    <div class="col">
        <input class=" form-control" placeholder="Name" @bind="newName" />
        <input class=" form-control" placeholder="Second Name" @bind="newSecondName" />
        <input class=" form-control" type="date" placeholder="Date Of Birth" @bind="newDateOfBirt " />

        <select class=" form-control" name="Sex" @bind="newSex">
            @foreach (var sex in Enum.GetValues(typeof(Sex)))
            {
                <option value="@sex">
                    @sex;
                </option>
            }
        </select>

        <select class=" form-control" name="Country" @bind="newCountry">
            @foreach (var country in Enum.GetValues(typeof(ListOfCountries)))
            {
                <option value="@country">
                    @country;
                </option>
            }
        </select>

        <select class=" form-control" name="Rang" @bind="newRang">
            @foreach (var rang in Enum.GetValues(typeof(Rangs)))
            {
                <option value="@rang">
                    @rang;
                </option>
            }
        </select>

        <input class=" form-control" placeholder="Name of club" @bind="newNameOfClub" />
        <input class=" form-control" placeholder="Names of coachers" @bind="newNamesOfCoachers" />
        <input class=" form-control" placeholder="Photo" @bind="newPhoto" />
        <input class=" form-control" placeholder="Achievements" @bind="newAchievements" />

        <div class=" col">
            <button class=" btn btn-success" @onclick="AddSportsman">Add sportsman</button>
        </div>
    </div>
</div>

<div class=" container-fluid">
    <div class=" row">
        <div class="col">
            <h2>List of spostsmans</h2>
            <table class=" table table-striped">
                <thead class=" table-dark">
                    <tr>
                        <th scope="col">Name </th>
                        <th scope="col">Second name </th>
                        <th scope="col">Date of Birth</th>
                        <th scope="col">Sex </th>
                        <th scope="col">Country </th>
                        <th scope="col">Rang </th>
                        <th scope="col">Name of club </th>
                        <th scope="col">Names of coachers </th>
                        <th scope="col">URLPhoto</th>
                        <th scope="col">Achievements </th>
                        <th scope="col">Rating</th>

                    </tr>
                </thead>
                @foreach (var item in sportsman)
                {
                    <tbody>
                        <tr>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                @item.SecondName
                            </td>
                            <td>
                                @item.DateOfBirth
                            </td>
                            <td>
                                @item.Sex
                            </td>
                            <td>
                                @item.Country
                            </td>
                            <td>
                                @item.Rang
                            </td>
                            <td>
                                @item.ClubName
                            </td>
                            <td>
                                @item.CoachName
                            </td>
                            <td>
                                <div>
                                    <img class="image" src="@item.URLPhoto">
                                </div>
                            </td>
                            <td>
                                @item.Achievements
                            </td>
                            <td>
                                @item.Rating
                            </td>
                            <td>
                                <button class=" btn-dark">Edite</button>
                            </td>
                            <td>
                                <button class=" btn-danger" @onclick="(()=>DeleteSportsman(item.Id))">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                }

            </table>
        </div>
    </div>
</div>

@code {
   
}
