@page "/addTracks"
@using EnumsAndConstants

        <div class="row">
            <div class="col">
                <EditForm Model="trackModel" OnValidSubmit="SaveTrack">
                    <div class="form-group">
                        <label> Type </label>
                        <InputSelect class=" form-control" @bind-Value="trackModel.TrackType">
                            @foreach (var trackType in TrackTypesForSelect)
                            {
                                <option value="@trackType">
                                    @trackType
                                </option>
                            }
                        </InputSelect>
                        <label> CompetitionID </label>
                        <CustomInputSelect class=" form-control" @bind-Value="trackModel.CompetitionId">

                            @foreach (var item in CompetitionsForSelect)
                            {
                                <option value="@item.Id">
                                    @item.Name
                                </option>
                            }
                        </CustomInputSelect>

                        <label> Full </label>
                        <InputCheckbox class=" form-control" @bind-Value="trackModel.IsFull" />
                    </div>
                    <button class=" btn btn-outline-primary">Save</button>
                </EditForm>
            </div>
        </div>
        <div class=" container-fluid">
            <div class=" row">
                <div class="col">
                    <h2>List of Tracks</h2>
                    <table class=" table table-striped">
                        <thead class=" table-striped">
                            <tr>
                                <th scope="col">Track Type </th>
                                <th scope="col">CompetitionId </th>
                                <th scope="col">IsFull </th>
                            </tr>
                        </thead>
                        @foreach (var item in tracks)
                        {
                            <tbody>
                                <tr>
                                    <td>
                                        @item.TrackType
                                    </td>
                                    <td>
                                        @item.CompetitionId
                                    </td>
                                    <td>
                                        @item.IsFull
                                    </td>
                                    <td>
                                        <button class=" btn-dark" @onclick="(()=>EditTrack(item))">Edit</button>
                                    </td>
                                    <td>
                                        <button class=" btn-danger" @onclick="(()=>DeleteTrackAsync(item))">Delete</button>
                                    </td>
                                </tr>
                            </tbody>
                        }

                    </table>
                </div>
            </div>
        </div>
 

@code {


}
