@inject CompetitionResults.Data.Repository.GateWithTimeRepository gateWithTimeRepository;
@inject CompetitionResults.Data.Repository.TrackRepository trackRepository;
@inject CompetitionResults.Data.Repository.CompetitionRepository competitionRepository;  
@page "/addTracks"
@using EnumsAndConstants

<div class="row">
    <div class="col">
        <div class="col">
            Type
        </div>
        <select class=" form-control" name="TrackType" @bind="trackModel.TrackType" >
            @foreach (var trackType in TrackTypesForSelect)
            {
                <option value="@trackType">
                    @trackType
                </option>
            }
        </select>
        <div class="col">
            CompetitionID
        </div>
        <select class=" form-control" name="CompetitionId" @bind="trackModel.CompetitionId">

            @foreach (var item in CompetitionsForSelect)
            {
                <option value="@item.Id">
                    @item.Id
                </option>
            }
        </select>
        <div class="col">
            Full
            <input class=" form-control" type="checkbox" @bind="trackModel.IsFull" />
        </div>
        <div class=" col">
            <button class=" btn btn-success" @onclick="SaveTrack">Save</button>
        </div>
    </div>
</div>

<div class=" container-fluid">
    <div class=" row">
        <div class="col">
            <h2>List of Tracks</h2>
            <table class=" table table-striped">
                <thead class=" table-dark">
                    <tr>
                        <th scope="col">Track Type </th>
                        <th scope="col">CompetitionId </th>
                        <th scope="col">IsFull </th>
                    </tr>
                </thead>
                @foreach (var item in tracks)
                {
                    <tbody>
                        <tr>
                            <td>
                                @item.TrackType
                            </td>
                            <td>
                                @item.CompetitionId
                            </td>
                            <td>
                                @item.IsFull
                            </td>
                            <td>
                                <button class=" btn-dark" @onclick="(()=>EditTrack(item))">Edit</button>
                            </td>
                            <td>
                                <button class=" btn-danger" @onclick="(()=>DeleteTrackAsync(item))">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                }

            </table>
        </div>
    </div>
</div>

@code {


}
