@page "/viewResults"

<h3>ViewResults</h3>
<div class=" container-fluid">
    <div class=" row">
        <div class="col">
            <table class=" table table-striped" width="1024px">
                <thead class=" table-striped">
                    <tr>
                        <th scope="col">Number </th>
                        <th scope="col">SecondName </th>
                        <th scope="col">Name </th>
                        <th scope="col">Country </th>
                        <th scope="col">Rang </th>
                        <th scope="col">DateOfBirth </th>
                        <th scope="col">ClubName </th>
                        <th scope="col">CoachName </th>
                        @foreach (var item in gateWithPenalties)
                        {
                            <th scope="col">
                                @item.GateNumber
                            </th>
                        }
                        <th scope="col">StartTime</th>
                        <th scope="col">FinishTime</th>
                        <th scope="col">TimePassageTrack </th>
                        <th scope="col">TotolPenalty</th>
                        <th scope="col">TotolTime </th>
                        <th scope="col">Plase</th>
                        @*<th scope="col">LostFromFirstPlace </th>*@
                    </tr>
                </thead>

                @{ 
                    int i = 0;
                }

                @foreach (var item in Results.OrderBy(x=>x.TotolTime))
                {
                    <tbody>
                        <tr>
                            <td>
                                @item.Number
                            </td>
                            <td>
                                @item.SecondName
                            </td>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                @item.Country
                            </td>
                            <td>
                                @item.Rang
                            </td>
                            <td>
                                @item.DateOfBirth.ToString("yyyy")
                            </td>
                            <td>
                                @item.ClubName
                            </td>
                            <td>
                                @item.CoachName
                            </td>
                            @foreach (var penaltyPassage in item.PenaltesOnGate)
                            {

                                <td>
                                    @penaltyPassage.Value
                                </td>
                            }
                            <td>
                                @item.StartTime
                            </td>
                            <td>
                               @item.FinishTime
                            </td>
                            <td>
                               @item.TimePassageTrack                                
                            </td>
                            <td>
                               @item.TotolPenalty
                            </td>
                            <td>
                               @item.TotolTime
                            </td> 
                            <td>
                                @{i++;}
                                <div>@i</div>
                            </td>
                        </tr>
                    </tbody>
                }
               
            </table>
        </div>
    </div>
</div>

@code {

}
